<div class="contain">
	<div class="row">
		<div class="col-sm-6" *ngIf="personForm">
			<form [formGroup]="personForm" (ngSubmit)="onSubmit(personForm)">
				<div class="form-group">
					<label for="fullName">Name</label>
					<input id="fullName" type="text" class="form-control" formControlName="fullName">
					<div *ngIf="checkError('fullName' ,'required')" class="alert alert-danger">
						Обязательное поле.
					</div>
				</div>

				<div class="form-group">
					<label for="title">Title</label>
					<input id="title" type="text" class="form-control" formControlName="title">
				</div>

				<div class="form-group">
					<label for="quote">Quote</label>
					<input id="quote" type="text" class="form-control" formControlName="quote">
				</div>

				<div class="form-group">
					<label for="photoSrc">Photo src</label>
					<input id="photoSrc" type="text" class="form-control" formControlName="photoSrc">
				</div>

				<div class="form-group">
					<label for="wikiLink">Wikipedia link</label>
					<input id="wikiLink" type="text" class="form-control" formControlName="wikiLink">
				</div>

				<input type="button" class="btn btn-default" (click)="goToList()" value="Cancel" />
				<input type="button" class="btn btn-default" (click)="deletePerson(person)" [disabled]="!editMode" value="Delete" />
				<input type="submit" class="btn btn-primary" value="Save" [disabled]="personForm.invalid" />
			</form>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="year">Year</label>
				<input id="year" type="text" class="form-control" [(ngModel)]="year">
			</div>
			<div class="form-group">
				<label for="event">Event</label>
				<input id="event" type="text" class="form-control" [(ngModel)]="event">
			</div>
			<button type="button" class="btn btn-default" (click)="addStep(year, event)">Add step</button>
			<br>
			<br>
			<ul *ngIf="steps">
				<li *ngFor="let step of steps, let i = index">{{step.year}} - {{step.event}} 
						<span class="glyphicon glyphicon-trash pull-right admin-button" (click)="deleteStep(i)"></span>
				</li>
			</ul>
		</div>
	</div>
</div>