<div class="contain" *ngIf="loginForm">
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <div class="form-group">
      <label for="username">Login</label>
      <input id="username" type="text" class="form-control" formControlName="username">
      <div *ngIf="formErrors.username" class="alert alert-danger">
				{{ formErrors.username }}
			</div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" class="form-control" formControlName="password">
      <div *ngIf="formErrors.password" class="alert alert-danger">
				{{ formErrors.password }}
			</div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{errorMessage}}
    </div>

    <input type="button" class="btn btn-default" (click)="goNext()" value="Cancel" />
    <input type="submit" class="btn btn-primary" value="Login" [disabled]="loginForm.invalid" />
  </form>
</div>